@import 'animations/fadeUp';
@import 'colors';

#about
  min-height 65vh

  h1.animated, p.animated
    @extends .fade-in-up
    animation-fill-mode both
    animation-duration 300ms
    animation-delay 500

  p
    line-height 1.5
    font-size 1.1em
    text-align justify


#my-work
  background radial-gradient(rgba(#212121, 0.4), rgba(#212121, 0.65), rgba(#212121, 0.95)),
             url('/assets/images/icons.png') repeat repeat center

  h1
   color #fff !important

  .project
    background $white
    clear both
    margin-bottom 1.1em
    position relative
    box-sizing border-box
    overflow hidden
    position relative

    img
      top: 50%;
      left: 50%;
