$bg-color     =     #292929
$white        =     #fff
$main         =     #2ca6be
$emphasis     =     #d3e1f1
$secondary    =     #00ffc8
$accent       =     #614fa3
$accent-alt   =     #6a49C7
$text-color   =     darken($emphasis, 30%)
$title-alt    =     #1D1E45
$bg-alt       =     #002c3d
$blue         =     #00A9DB
$pink         =     #FF1590
