$bg-color     =     #292929
$white        =     #fff
$main         =     #2ca6be
$secondary    =     #00ffc8
$accent       =     #7c4dff
$accent-alt   =     #3900d7
$text-color   =     #5d7a90
$bg-alt       =     #11424c
