.sticky-nav
  position fixed
  width 100%
  top 0
  left 0
  bottom auto
  padding-top 1.3em
  z-index 90
  background-color $bg-alt
  transition background-color 0.2s ease-in-out

  ul li a
    color $white !important

   ul li a:before
    border-bottom-color $white
