<nav class="main-nav" sticky-nav>
  <ul>
    <li><a ng-href="/#/#about">About me</a></li>
    <li><a href="">My work</a></li>
    <li><a href="">Articles</a></li>
    <li><a href="">Experiments</a></li>
  </ul>
</nav>
<full-page-panel>
  <h1>Estuardo Diaz</h1>
  <h2>UX designer / Frontend Developer</h2>
</full-page-panel>
<a id="panel-dismiss" ng-href="/#/#about" class="icon-down"></a>
<main class="grid">
  <section class="long transparent">
    <div class="wrapper">
      <span class="text-wrapper" >
        <h1>Hi! You can call me taro</h1>
        <p>
          I am a UX Designer and Frontend Developer, currently living in Guatemala, and working for <a href="//pixela.com.gt">Pixela</a>, a company I co-founded with some of my friends. Along with them I create amazing
        </p>
        <a href="" class="btn btn-main">Get to know me</a>
      </span>
    </div>
  </section>
  <article class="medium purple icon">
    <div class="wrapper">
      <a href="https://medium.com/open-mind">
        <h1 class="icon-medium"></h1>
      </a>
    </div>
  </article>
  <article class="medium white icon main">
    <div class="wrapper">
      <a href="https://github.com/t4r0">
        <h1 class="icon-github"></h1>
      </a>
    </div>
  </article>
  <article class="medium green icon half">
    <div class="wrapper">
      <a href="">
        <h1 class="icon-facebook"></h1>
      </a>
    </div>
  </article>
  <article class="medium blue icon half">
    <div class="wrapper">
      <a href="">
        <h1 class="icon-twitter"></h1>
      </a>
    </div>
  </article>
  <article class="medium purple icon">
    <div class="wrapper">
      <a href="https://medium.com/open-mind">
        <h1 class="icon-medium"></h1>
      </a>
    </div>
  </article>
  <article class="medium green icon">
    <div class="wrapper">
      <a href="https://medium.com/open-mind">
        <h1 class="icon-medium"></h1>
      </a>
    </div>
  </article>
</main>
