<nav class="main-nav" sticky-nav>
  <ul>
    <li><a ng-href="/#/#about">About me</a></li>
    <li><a href="">My work</a></li>
    <li><a href="">Articles</a></li>
    <li><a href="">Experiments</a></li>
  </ul>
</nav>
<full-page-panel>
  <h1>Estuardo Diaz</h1>
  <h2>UX designer / Frontend Developer</h2>
</full-page-panel>
<a id="panel-dismiss" ng-href="/#/#about" class="icon-down"></a>
<main class="grid">
  <section class="transparent important">
    <div class="wrapper">
      <span class="text-wrapper" >
        <h1>Hi! You can call me taro</h1>
        <p>
          I am a UX Designer and Frontend Developer, currently living in Guatemala, and working for <a href="//pixela.com.gt">Pixela</a>, a company I co-founded with some of my friends. Along with them I create amazing websites and mobile apps.
        </p>
        <a href="" class="btn btn-main">Get to know me</a>
      </span>
    </div>
  </section>
  <article class="medium green icon">
    <div class="wrapper">
      <a href="https://medium.com/open-mind">
        <h1 class="icon-medium"></h1>
      </a>
    </div>
  </article>
  <article class="project icon main">
    <a class="project-wrapper" href="">
      <img class="cover-img" src="/assets/images/computer.png"/>
      <div class="project-info">
        <h3>How we design at Pixela</h3>
        <p>The progress, the struggles and the result</p>
      </div>
    </a>
  </article>
  <article class="medium project half">
    <a class="project-wrapper" href="">
      <img class="cover-img" src="/assets/images/cocoa-teach.png" alt="CocoaTeach" />
      <div class="project-info">
        <h3>Cocoa Teach</h3>
        <p>Building a business around a plattform</p>
      </div>
    </a>
  </article>
  <article class="medium project half">
    <a class="project-wrapper">
      <img class="cover-img" src="/assets/images/maremaya.png" alt="Maremaya" />
      <div class="project-info">
        <h3>Maremaya</h3>
        <p>It's all about customers</p>
      </div>
    </a>
  </article>
  <section class="main right transparent">
    <div class="wrapper">
      <span class="text-wrapper" >
        <h1>Let's Chat</h1>
        <p>
          I am always open to hear from new projects and answering questions.
          You can either me follow me on my social networks or send me an email to
          my personal account.
        </p>
      </span>
    </div>
  </section>
  <article class="small blue icon">
    <div class="wrapper">
      <a href="//twitter.com/#/t4r0_o">
        <h1 class="icon-twitter"></h1>
        <small>@t4r0_o</small>
      </a>
    </div>
  </article>
  <article class="small dark-blue icon">
    <div class="wrapper">
      <a href="//twitter.com/#/t4r0_o">
        <h1 class="icon-facebook"></h1>
      </a>
    </div>
  </article>
  <article class="small pink">
    <div class="wrapper">
      <img src="/assets/images/snapcode.svg" alt="snapchat" />
    </div>
  </article>
  <article class="small white icon">
    <div class="wrapper">
      <span class="text-wrapper" >
        <a href="mailto://contact@t4r0.me">
          <h1 class="icon-mail">
          </h1>
          <small>contact@t4r0.me</small>
        </a>
      </span>
    </div>
  </article>
</main>
