<nav class="main-nav" sticky-nav>
  <ul>
    <li><a ng-href="/#/#about">About me</a></li>
    <li><a href="">My work</a></li>
    <li><a href="">Articles</a></li>
    <li><a href="">Experiments</a></li>
  </ul>
</nav>
<full-page-panel>
  <h1>Estuardo Diaz</h1>
  <h2>UX designer / Frontend Developer</h2>
</full-page-panel>
<a id="panel-dismiss" ng-href="/#/#about" class="icon-down"></a>
<section id="about">
  <h1 scroll-animate>Hello! You can call me taro</h1>
  <p scroll-animate>
    I am a Developer from Guatemala, currently working for <a href="//pixela.com.gt">Pixela</a>, a company I co-founded with some of my friends.
    At Pixela I work beside my team mates designing useful, usable and rich web and mobile applications. I like to work close with the
    project owners and users, to create amazing experiences and improve people's life.
    While I was at school I joined some non-profit organizations, and helped them develop useful tools, to take care of their information.
  </p>
  <p scroll-animate>
    My soul is divided between arts, humanity and science. I decided to become a frontend developer since i think programming is the perfect mix between those three things. Arts are a very important for me since i was a kid, thus I started to learn music and I also spend my time writing cheesy lines on my
    <a href="//blog.t4r0.me">tumblr</a>.
  </p>
  <p scroll-animate>
    I like to give some time to causes I care about. I like teaching and learning,
    and love kids (and their super creative mind) which is why I often teach kids math, arts and music.
  </p>
</section>
<section id="my-work">
  <h1>My work</h1>
  <article class="project">
    <figure class="thumb">
      <img src="/assets/images/cocoa-teach.png" alt="Cocoa Teach" />
    </figure>
    <p>
      <h2>Cocoa Teach</h2>
      <small>Learning better together</small>
    </p>
    </article>
</section>
