h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
}

.title, .subtitle, .icons, p{
  text-align: center;
}

.title {
  font-size: 6em;
}

body, .subtitle{
 font-family: 'Lora', serif;
}

.subtitle {
  font-size: 3em;

}

.wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

.legend {
  margin: auto;
  width: 80%;
  border-top: solid 5px;
  border-bottom: solid 5px;
}

.icons{
   margin:0;
   padding:0;
  text-align:center;
  margin: auto;
  list-style: none;
}

.icons li{
    display: inline;
}

.icons a, .icons a:hover, .icons a:visited{
  display: inline-block;
  padding: 10px;
  color: black;
}
