@font-face {
    font-family: 'open_sans';
    src: url('/assets/fonts/opensans-light.eot');
    src: url('/assets/fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/opensans-light.woff2') format('woff2'),
         url('/assets/fonts/opensans-light.woff') format('woff'),
         url('/assets/fonts/opensans-light.ttf') format('truetype'),
         url('/assets/fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('/assets/fonts/roboto-bold.eot');
    src: url('/assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto-bold.woff2') format('woff2'),
         url('/assets/fonts/roboto-bold.woff') format('woff'),
         url('/assets/fonts/roboto-bold.ttf') format('truetype'),
         url('/assets/fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'roboto';
    src: url('/assets/fonts/roboto-regular.eot');
    src: url('/assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto-regular.woff2') format('woff2'),
         url('/assets/fonts/roboto-regular.woff') format('woff'),
         url('/assets/fonts/roboto-regular.ttf') format('truetype'),
         url('/assets/fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto';
    src: url('/assets/fonts/roboto-light.eot');
    src: url('/assets/fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto-light.woff2') format('woff2'),
         url('/assets/fonts/roboto-light.woff') format('woff'),
         url('/assets/fonts/roboto-light.ttf') format('truetype'),
         url('/assets/fonts/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
